<div data-controller="draganddrop" class="text-slate-100 font-righteous">
  <div class="flex w-full justify-center py-4">
    <h1 class="font-bold text-6xl">Drag and Drop</h1>
  </div>
  <div class="flex gap-4 mb-4">
    <canvas id="canvas" data-draganddrop-target="canvas"
      class="bg-white border border border-slate-900">
    </canvas>  
  </div>
  <div class="flex w-full justify-center gap-2">
    <button class="btn-green" data-action="draganddrop#driver">Go</button>
    <button class="btn-blue" data-action="draganddrop#clear">Clear</button>
  </div>
</div>