<div data-controller="mapper" class="text-slate-100 font-righteous">
  <div class="flex w-full justify-center py-4">
    <h1 class="font-bold text-6xl">Mapper</h1>
  </div>
  <div class="flex gap-4 mb-4">
    <canvas id="canvas" width="500" height="400" data-mapper-target="canvas"
      class="bg-slate-100 border border-bold border-slate-900">
    </canvas>
    <div class="flex flex-col gap-2">
      <button class="btn-yellow" data-action="mapper#drawLine">Line</button>
    </div>
  </div>
</div>